*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: cover;
}
.container {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px; 
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
}
.buttons{
    margin: 30px 0 ;
    display: flex;
    gap: 40px;

}
button{
        padding: 10px;
        font-size: 50px;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        margin-left: 17px;
        transition: opacity 0.5s ease-in-out;
}
button:hover {
    opacity: 0.7; 
}
#rock{
       background: #a200ff;
}
#paper{
    background:#9ee01a;
}
#scissors{
    background: #2962ff;
}
p{
    font-weight: bold;
    margin-bottom: 10px;
}
.your-score span {
    color:rgb(47, 0, 255);
}
.machine-score span {
    color: rgb(255, 0, 13);
}
img{
    width: 15px;
    height: 15px;
}
